DISCORD_TOKEN=
BOT_PREFIX=+
DEBUG=false
DEV_GUILD_ID=
GUILD_ID=
DISCORD_GUILD_ID=
ROLE_ADMIN=
ROLE_FR=
ROLE_EN=
ROLE_STAFF=
ROLE_PATCHNOTES=
ROLE_STREAMER=
ROLE_STREAM_NOTIFY=
CHANNEL_WELCOME=
WELCOME_BANNER=
DEFAULT_LANG=fr
TICKET_CATEGORY_ID=
TICKET_CLAIMED_CATEGORY_ID=
TICKET_CLOSED_CATEGORY_ID=
TICKET_SUPPORT_ROLE_ID=
TICKET_MAX_OPEN=1
TICKET_AUTO_DELETE_DAYS=3
GUIDE_CHANNEL_PRESENTATION=
GUIDE_CHANNEL_ANNOUNCEMENTS=
GUIDE_CHANNEL_RULES=
GUIDE_CHANNEL_SUPPORT=
GUIDE_CHANNEL_STATUS=
CHANNEL_STAFFAPPLY=
LOG_GENERAL=
LOG_MESSAGE=
LOG_VOICE=
LOG_TICKET=
LOG_ANNOUNCEMENT=
LOG_COMMAND=
LOG_SANCTION=
LOG_STAFFAPPLY=
STATUT_BOT=
BOT_STATUS_TEXT=
BOT_ACTIVITY_TEXT=
BOT_STATUS_TYPE=Watching
BOT_ACTIVITY_TYPE=Watching
BOT_PRESENCE=dnd
